{% extends "hello/base.html" %}
{% block content %}
    <!-- <h1 style="color: #444444;">Data about this product:</h1> -->
    <br/>
    {% for post in posts %}
      {%  if post.productType == "chicken" %}
        <h2 style="color: #444444;">{{post.product_name}}</h2>
        <table style="width: 500px;">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td><img class="product-pic" style=
              "height: 165px;
              width: 165px;
              border: solid;
              border-radius: 2px;
              border-color: #494949;"
            src="{{ post.media }}">
            <img/></td>
            <td>
              <div style="margin-left: 15px;">
                <p><b>Decription:</b> {{post.description}}</p>
                <p><b>Recipe: </b> {{post.Recipe}}: <a href="{{ post.recipe_main }}" target="_blank"> {{post.recipe_name}}</a>.</p>
                <p><b>Price: </b> 6.99€</p>
            </div>
              
            </td>
          </tr>
        </table>
      {% endif %}   
      <!-- <h2> {{ post.content }}</h2> -->
      <!-- <p>By {{ post.author }} on {{ post.date_posted }}</p> -->
    {% endfor %}
    
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Product facts:</h2>
    <ul>
      <li>100% finnish-made</li>
      <li>ethic</li>
      <li>somewhere else</li>
      <li>and elsewhere</li>
    </ul>
    </br>
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Product origin:</h2>
    <p style="width: 425px;">This product was produced on our own farm in Mikkeli. The current temperature there is <b>3</b> degrees. The product takes an average of <b>18</b> hours to arrive at your local supermarket.</p>
    <iframe style="zoom: 0.55" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/62.embed"></iframe>
    </br>
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Sustainability information:</h2>
    </br>

    <h5>Broiler Water Use Percent per Farm:</h5>
    <p style="width: 500px;">The farm this product was produced on has contributed 16.8% of the total CO2 produced by the production, which is n less than average.</p>
    <iframe  style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/20.embed"></iframe>

    <h5>Average CO2 and Water footprints over farms for broilers:</h5>
    <p style="width: 500px;">The farm this product was produced on has contributed 16.8% of the total CO2 produced by the production, which is n less than average.</p>
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/30.embed"></iframe>
    </br>

    <h5>Average CO2 emission of countries for broiler:</h5>
    <p style="width: 500px;">The farm this product was produced on has contributed 16.8% of the total CO2 produced by the production, which is n less than average.</p>
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/36.embed"></iframe>
    
    


    
    </br>


{% endblock content %}

