{% extends "hello/base.html" %}
{% block content %}
    <!-- <h1 style="color: #444444;">Data about this product:</h1> -->
    <br/>
    {% for post in posts %}
      <h2 style="color: #444444;">{{ post.title }} {{post.product_name}}</h2>
      <table style="width: 500px;">
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><img class="product-pic" style=
            "height: 165px;
            width: 165px;
            border: solid;
            border-radius: 2px;
            border-color: #494949;"
          src="{{ post.media }}">
          <img/></td>
          <td>
            <div style="margin-left: 15px;">
              <p><b>Type:</b> succulent farm-grown Finnish pork tenderloin. We recommend roasting it.</p>
              <p><b>Recipes:</b> Our favorite is <a href="{{ post.recipe_main }}" target="_blank">crackling pork</a>. You can find the full list of recipes <a  href="https://www.hk.fi/reseptit/" target="_blank">here</a>.</p>
              <p><b>Recommended retail price:</b> RED</p>
            </div>
            
          </td>
        </tr>
      </table>
          
        
        
      
      <!-- <h2> {{ post.content }}</h2> -->
      <!-- <p>By {{ post.author }} on {{ post.date_posted }}</p> -->
    {% endfor %}
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Where can I use this MEAT:</h2>
    <ul>
      <li>in a pie</li>
      <li>grill it idk</li>
      <li>somewhere else</li>
      <li>and elsewhere</li>
      <li>if we're nice we're even going to put links here</li>
    </ul>
    </br>
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Sustainability information:</h2>
    <!-- <h2>Contribution of each factor to CO2 footprints:</h2> -->
    </br>
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/17.embed"></iframe>    </br>
    <!-- <h2>Pork Water Use per farm: </h2> -->
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/25.embed"></iframe>
    </br>
    <!-- <h2>Beef Water Use:</h2>
    <iframe style="zoom: 0.5" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/23.embed"></iframe>
    </br>
    <h2>Broiler Water Use:</h2> 
    <iframe style="zoom: 0.5" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/20.embed"></iframe>
    </br> -->
    <!-- <iframe style="zoom: 0.45" width="1200" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/30.embed"></iframe>
    </br> 
    <iframe style="zoom: 0.45" width="1200" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/32.embed"></iframe>
    </br> -->

{% endblock content %}

