{% extends "hello/base.html" %}
{% block content %}
    <!-- <h1 style="color: #444444;">Data about this product:</h1> -->
    <br/>
    {% for post in posts %}
      {%  if post.productType == "pork" %}
        <h2 style="color: #444444;">{{post.product_name}}</h2>
        <table style="width: 425px;">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td><img class="product-pic" style=
              "height: 165px;
              width: 165px;
              border: solid;
              border-radius: 2px;
              border-color: #494949;"
            src="{{ post.media }}">
            <img/></td>
            <td>
              <div style="margin-left: 15px;">
                <p><b>Decription:</b> {{post.description}}</p>
                <p><b>Recipe: </b> {{post.Recipe}}: <a href="{{ post.recipe_main }}" target="_blank"> {{post.recipe_name}}</a></p>
                <p><b>Recommended price: </b> 14.99€</p>
            </div>
              
            </td>
          </tr>
        </table>
      {% endif %}   
      <!-- <h2> {{ post.content }}</h2> -->
      <!-- <p>By {{ post.author }} on {{ post.date_posted }}</p> -->
    {% endfor %}
    
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Product facts:</h2>
    <div style="width: 425px;">
      <p><b>Temperature</b> stored at <b>1</b> degrees on its way to Helsinki</p>
      <p><b>Standards</b> this product has been producesd in accordance with EU standards: <b> yes</b></p>
      <p><b>Ingredients:</b> pork, salt, pepper</li>
      <p><b>Calories: </b> 220</p>
    </div>
    </br>
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Product origin:</h2>
    <p style="width: 425px;">This product was produced on our own farm in Mikkeli. The current temperature there is <b>3</b> degrees. The product takes an average of <b>18</b> hours to arrive at your local supermarket.</p>
    <iframe style="zoom: 0.55" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/62.embed"></iframe>    <!-- <p style="width: 500px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p> -->
    </br>
    <hr style="width:60%;text-align:left;margin-left:0">
    </br>
    <h2>Sustainability information:</h2>
    </br>

    <h5>Water consumption & usage per farm:</h5>
    <p style="width: 425px;">The farm this product was produced on spends an average of <b>0.2</b> liters of water per product which is sourced from local lakes. This is <b>32% less</b> tahn the industry average.</p>
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/45.embed"></iframe>

    <h5>Contribution of each factor to CO2 footprints:</h5>
    <p style="width: 425px;">The farm this product was produced on has contributed <b>16.8%</b> of the total CO2 produced by the production, which is n less than average.</p>
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/25.embed"></iframe> 
    </br>

    <h5>Average CO2 emission of countries for pork:</h5>
    <p style="width: 425px;">Finnsih HK scan farms produce <b>12%</b> less CO2 on average than other Finnish farms.</p>
    <iframe style="zoom: 0.45" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~tuantnguyen/40.embed"></iframe>
    </br>


{% endblock content %}

